body{
    background-color: black;
}

#verde{
    color: #5ECBAE;
}
#vermelho{
    color: #E50914;
}
button{
    color: white;
    background-color: #5ECBAE;
    border: 0px;
    border-radius: 25px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center !important;
}

input{
    width: 50%;
    border-radius: 25px;
}

button{
    margin-top: 20px;
    width: 10%;
    font-size: 15px;
}
