body{
    background-color: black;
}
#verde{
    color: #5ECBAE;
}

#vermelho{
    color: red;
}

#título{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.icmc{
    width: 100px;
}

form{
    display: flex;
    justify-content: center;
}

input{
    height: 30px;
    border-radius: 25px;
}

button{
    border-radius: 25px;
    background-color: #5ECBAE;
}
.container {
    text-align: center;
}

#fs #vermelho {
    margin-right: 5px;
    margin-left: 5px;
}

h2{
    color: #5ECBAE;
    display: flex;
    justify-content: center;
}

#catálogo{
    color: #5ECBAE;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#filme-titulo{
    color: #5ECBAE;
    font-size: 50px;
    margin: 50px;
}

#poster{
    height: 500px;
    margin: 20px;
}

#filme-sinopse{
    color: white;
    height: 200px;
    margin: 20px;
}

#resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
